/* css da página quemSomos.html */

.quem-somos{
    background-image: url('../img-bg/image-bg.svg');
    background-position: center center;
    text-align: center;
}

.titulo-quem-somos{
    text-align: center;
}


/* formatacao do menu */







