<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public_html/style/quemSomos.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../img-icon/favicon-16x16.png">
    <title>Quem somos</title>
</head>

<body>
    <header class="menu">
        <section class="menu-content main-content">
            <a href="../index.html
            "><img id="logo" src="../img-icon/LogoTigerFinal.png"></a>
            <nav class="menu-nav">
                <ul>
                    <li><a href="quemSomos.html">Quem somos</a></li>
                    <li><a href="#footer">Fale conosco</a></li>
                    <li><a href="../view/entrar.html">Entrar</a></li>
                    <li><button class="button"><a href="../view/cadastro.html">Cadastre-se</a></button></li>
                    <!--Arrumar o botão e a ancoragem // Inverter a ordem-->
                </ul>
            </nav>
        </section>
    </header>
    <main class="blue-content quem-somos">
        <div>
            <h1 class="titulo-quem-somos">Somos uma empresa que temos como objetivo:</h1>
            <p class="texto-quem-somos">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div>
            <h1 class="titulo-quem-somos">Trabalhamos de uma forma inovadora em razão:</h1>
            <p class="texto-quem-somos">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div>
            <h1 class="titulo-quem-somos">Quem são os nossos chefes:</h1>
            <p class="texto-quem-somos">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div>
            <h1 class="titulo-quem-somos">Quem são os nossos chefes:</h1>
            <p class="texto-quem-somos">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </main>
    <footer id="footer" class="footer">
        <div>
            <a href="/#" class="logoFooteer"><img id="logoFooter" src="img-icon/LogoTigerFinal.png" alt="LOGO"></a>
        </div>
        <div class="icones">
            <h4 class="nossasRedes">Nossas redes</h4><br>
            <a href="#" class="icone-Color"><i class="fab fa-facebook-f"></i></a>

            <a href="#" class="icone-Color"><i class="fab fa-linkedin-in"></i></a>

            <a href="#" class="icone-Color"><i class="fab fa-instagram"></i></a>

            <a href="#" class="icone-Color"><i class="fab fa-twitter"></i></a>

            <a href="#" class="icone-Color"><i class="fab fa-github"></i></a>
        </div>
        <div>
            <h4 class="nossosContatos">Contatos:</h4>
            <a href="#" class="icone-Color">Telefone: (61)9999-9999</a><br>
            <a href="#" class="icone-Color">e-mail: logo@gmail.com</a><br>
        </div>
    </footer>
</body>

</html>